<template>
  <div>
      <NavBar />

      <h1>Hola Mi componente</h1>


      
  </div>
</template>

<script>

import NavBar from '../components/NavBar'

export default {
    components: {
        NavBar
    },

}
</script>

<style>

</style>