<template>
  <div class="row">
    <div class="col-4" v-for="( articulo, index) in arrBlog" :key="index">
      <div class="card">
        <img :src="articulo.imagen" class="card-img-top img-card" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ articulo.titulo }}</h5>
          <p class="card-text">
            {{ articulo.descripcion }}
          </p>
          <div class="row">
            <div class="col-6">
              <button @click="editarPost( articulo, index )" class="btn btn-outline-success btn-block">
                Editar
              </button>
            </div>
            <div class="col-6">
              <button @click="borrarPost(index)" class="btn btn-outline-danger btn-block">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // Las props son los datos que recibe el componente cuando se lo llama
  props: ["arrBlog"],

  methods: {
      borrarPost( index ) {
          this.arrBlog.splice(index,1)
      },

      editarPost( post, index ) {
          this.$emit( 'articuloEditar', post )
          this.arrBlog.splice(index,1)
      }
  }
};
</script>

<style></style>
